:root {
    --dark-color: #1c1c1c;
    --light-color: #ffffff;
    --dark-grey-color: #333333;
    --light-grey-color: #efefef;
}
body {
    font-family: 'Oswald', sans-serif;
    font-size: 1rem;
    font-weight: 200;
    letter-spacing: .05rem;
}

h1, h2 {
    font-weight: 200;
}

.bg-light {
    background-color: #ffffff !important;
}

.bg-light-grey {
    background-color: var(--light-grey-color);
}

.bg-grey {
    background-color: var(--dark-grey-color);
}

.bg-dark {
    background-color: var(--dark-color) !important;
}

.display-2, .display-4, .lead, small {
    font-weight: 200;
}

.lead {
    font-size: 1.8rem;
}

a {
    color: var(--light-color);
}

a:hover {
    color: var(--light-color);
    opacity: .9;
    text-decoration: none;
}

.btn-primary {
    background-color: var(--dark-color);
    display: inline-block;
}

.btn-primary:hover, .btn-primary:active {
    background-color: var(--dark-color);
    opacity: .9;
    border: 0px;
    text-decoration: none;
    outline: none;
    box-shadow: none;
}

.btn-secondary {
    background-color: var(--light-color);
    color: var(--dark-color);
    display: inline-block;
    padding: .8rem 1.5rem;
    border-radius: 0;
}

.btn-secondary:hover, .btn-secondary:active {
    background-color: var(--light-color);
    color: var(--dark-color);
    opacity: .9;
    border: 0px;
    text-decoration: none;
    outline: none;
    box-shadow: none;
}

.btn-content {
    padding: 1.2rem 1.5rem;
    display: inline-block;
}

.navbar {
    background-color: transparent;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    min-height: 80px;
}

.nav-link {
    color: var(--light-color);
}

#hero-bg {
    background-image: url('../images/hero.jpg');
    background-size: cover;
    position: relative;
    height: 700px;
} 

.content {
    padding: 0 3rem;
}

.footer-content {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 1rem 2rem;
}

#portfolio { 
    padding: 120px 0;
}

footer {
    padding: 80px 0;
}

.project-item {
    margin-bottom: 4rem;
}

.modal, .modal-content {
    background-color: var(--dark-color); 
}

@media (max-width: 1199.98px) { 
    .display-2 {
        font-size: 4rem;
    }
}

@media (max-width: 991.98px) { 
    #hero {
        max-height: unset;
    }
    .navbar {
        position: relative;
    }
    .nav-link {
        font-size: 3rem;
    }
    .content {
        margin: 0 auto;
        padding: 4rem 3rem;
    }
}

@media (max-width: 767.98px) { ... }

@media (max-width: 575.98px) { 
    .content {
        padding: 4rem 1rem;
    }
    .force-center {
        margin: 0 auto;
        text-align: center !important;
    }
}





